
.card {
    text-align: center;
    background: white;
    border: 2px solid #FF4E00;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-gap: 15px;
    
}


.card .card-image img {
    object-fit: scale-down;
    height: 50vh;
}

.card .card-content .card-title i {
    display: none;
}

.btnDetail {
    text-decoration: none;
    align-content:  center;
    background-color: #333;
    color: white;
    font-size: 2em;
}
.btnDetail:hover {
    background-color: #FF4E00;
    color: white;
}


h2{
    font-size: 2em;
}
h3{
    font-size: 5em;
}

h4{
    font-size: 2.5em;
}

h5{
    font-size: 3em;
}

p{
    font-size: 1.5em;
}