nav {
    background-color: #333;
    font-size: 55px;
}


a {
    background-color: #333;
}


.App-logo {
    
    height: 7vmin;
    pointer-events: none;
    width: 20%;
    height:20%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
